*{
	margin:0px;
	padding:0px;
	list-style-type:none;
	
}
html{
	background:linear-gradient(to bottom right, #f0a890,#f07878,#f06060);
}
header,nav,article,section,footer,aside{
	display :block;

}
body {
	
	background-position: center ;
	background-repeat: no-repeat;
    
	
}
.gm_pf{
	font: bold italic 200% Arail;
	text-shadow: 2% #cfcce6;
	text-decoration: overline;
	text-align: center;
	text-color:#aebdea ;
}
.clear{
	clear:both;
	}
.me_circle{
	border-radius: 50%;
	margin-left: 40%;
	margin-right: auto;
	border-color: blue;
}
.logo{
	border-radius:50%;
	float: left;
	border-width:30%;
	border-color: blue;
	transition: transform .2s;
}
.logo:hover {
  transform: scale(1.5); /*150% zoom*/
}
.me_circle:hover {
	transform: scaleX(-1);
}
.icon_bar {
  width: 100%;
  background-color: #a61f3d;
  overflow: auto;
}

.icon_bar a {
  float: left;
  width: 15%;
  text-align: center;
  padding: 2% 0%;
  transition: all 0.3s ease;
  color: white;
  font-size: 150%;
}

.icon_bar a:hover {
  background-color: #604890;
}

.active {
  background-color: #604890;
}
.gm_pf {
	text-color:#cfcce6;
  width: 80%;
  height: 10%;
  background: 	#dcd8ea;
  position: relative;
  animation: move 10s;
  margin:auto;
}
@keyframes move {
  0%   {top: 0%; background: #fcdee5; width: 20%;}
  100% {top: 20%; background: 	#dcd8ea; width:80%;}
}
.content{
	text-align:center;
	
	
}
.indian{
	width:65%;
	margin:auto;
	text-align:center;
	border-style:groove;
	border-width:8%;
	border-color:#726556;
	border-radius:25%;
	font:bold  150% Arail;
	background-color:#f9733e;
	padding:3%;
	
}
.proud {
	text-align: center;
	font:bold  200% Arail;
	color:#830048;
	border-radius:20%;
	background-color:#aaaaaa;
	text-decoration:underline;

}

.achievement{
	text-align:center;
	font:bold 160% Arial;
	margin:auto;
	
}
table,td,th{
	
	border:5px solid black;
	font:bold italic 200% Arail;
	padding:auto;
	margin:auto;
	
}
.contab{
	display:block;
	margin-left:30%;
	font:bold italic 200% Arail;
	padding-top:7%;
}

	
.edu{
	
	font:bold italic 300% Arail;
	margin:auto;
}

.coming{
	background-color:#e7e7e7;
	width:90%;
	margin:12% 5%;
	height:60%;
}

	.footer_pf{
	text-align: center ;
	margin:auto;
	position:relative;
	font: bold italic 10% Arail;
}