*{
    margin: 0%;
    border: 0%;
    padding: 0%;
    cursor: alias;
}
#container{
    display: block;
    background-color:wheat;
    width: 40%;
    margin: auto;
    
    overflow: auto;
}
label{
    font-size: 120%;
}
input{
    font-size: 100%;
}
.btn{
    font-size: 150%;
    font-family:fantasy ;
    float: right;
    width: 30%;
}
.tabs{
    display:block;
    width: 100%;
    overflow: hidden;
    margin: auto;
    border:solid 5% wheat;
    padding:0%;
    text-align: center;

}
input[type=text], input[type=password] {
    width: 100%;
    padding: 0%;
    margin: auto;
    display: inline-block;
    border: 1% solid #ccc;
    box-sizing: border-box;
  }
  
.tabs button{
    width: 50%;
    float: left;
    border-width: 0%;
    text-align: center;
    margin:auto;
    padding: 2%;
    font-size: 200%;
    cursor: auto;
    background-color:tomato;
}
.tabs button.active{
    background-color: wheat;
}
.signform{
    display:none ;
    padding: 2% 2%;
    border: olive solid 1%;
    border-top: none;
}
.h_bar{
    width: 100%;
    background-color: aquamarine;
    overflow:auto;
}
#in_uname{
    color: red;
    visibility: hidden;
}

#fname{
    width: 40%;
    margin-right: 10%;
    float: left;
}
#f_name,#l_name{
    width:50%;
    visibility: hidden;
    color: red;
    float: left;
}

#lname{
    margin-right: 10%;
    width:40%;
    float: left;
}
.u_name{
    float:left;
    width:50%;
}
#dob{
    width:40%;
    float: left;
}

.h_bar a{
    float: left;
    width: 50%;
    text-align: center;
    padding: auto;
    font-size: 300%;
    text-decoration: none;

}
h1{
    text-align: center;
}
@media only screen and (max-width: 650px) {
    #container {
        width: 90%;
    }
}

